$site-max-width: 1000px;

// Colors

$light-gray: #D0D0D0;
$gray: #606060;
$dark-gray: #404040;
$slate: rgba(0,0,0,.8); 
$bondi-blue: #2fa5c6;
$light-background: #F4F4F4;

$base-accent-color: $bondi-blue;
$base-border-color: $light-gray;

// Typography

$base-font-family: 'Lato', sans-serif;
$header-font-family: 'Roboto', sans-serif;
$base-font-size: 18px;
$base-line-height: 1.7;
$base-font-color: $gray;

// Sizes

$xs: 14px;
$small: 16px;
$medium: 20px;
$large: 40px;
$xl: 80px;

// Media queries

$mobile: "(max-width: 480px)";
$tablet-min: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$laptop: "(min-width 1024px)";
$desktop: "(min-width 1280px)";

// Sass maps

$image-backgrounds: (
  im__image: #7385b1,
  ad__image: #45a6ad,
);

$social-colors: (
  dribbble: #ea4c89,
  github: #6e5494,
  linkedin: #1e5483
);
