$site-max-width: 1000px;

$light-gray: #d0d0d0;
$gray: #757575;
$dark-gray: #404040;
$light-background: #F4F4F4;
$black: #000000;

$base-border-color: $light-gray;

// Typography

$base-font-size: 18px;
$base-font-family: 'Lato', sans-serif;
$header-font-family: 'Roboto', sans-serif;
$base-font-color: #606060;
$base-line-height: 1.7;

// Sizes

$xs: 14px;
$small: 16px;
$medium: 20px;
$large: 40px;
$xl: 80px;

// Media queries

$tablet-min: new-breakpoint(min-width 769px);
$tablet-max: new-breakpoint(max-width 1024px);
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$lap: new-breakpoint(min-width 1025px);
$desktop: new-breakpoint(min-width 1280px);

$image-backgrounds: (
  im__image: #6F7DA1,
  ad__image: $light-gray,
);

$social-colors: (
  dribbble: #ea4c89,
  github: #6e5494,
  linkedin: #1e5483
);
