.mt--medium {
  margin-top: $medium;
}

.mt--medium-large {
  margin-top: $medium-large;
}

.mt--large {
  margin-top: $xl;
}

.mb--0 {
	margin-bottom: 0px;
}

.bdt {
  border-top: 1px solid $base-border-color;
}