.inline-image {
  margin-bottom: 30px;
}

.inline-image--bordered {
	border: 1px solid lighten($light-gray, 10);
}

.js-img-zoom {
  &:focus {
    outline: 0;
  }
}

.inline-image__caption {
  width: 100%;
  font-size: $xs;
  font-weight: 100;
  margin-top: 10px;
  text-align: center;
}

.inline-image--flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}