.list--bulleted__item {
	&:before {
	  content: "•";
	  padding-right: 15px;
	  position: absolute;
	  display: inline-block;
	  box-sizing: border-box;
	  width: 58px;
	  margin-left: -58px;
	  text-align: right;
	}
}
