.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: $xl;
  margin-right: $xl;
  padding: 1em 0;
}

.nav__item {
  font-size: 15px;
  text-transform: uppercase;
  color: $dark-gray;
  font-family: $header-font-family;
  text-decoration: none;

  margin-right: $large;

  &:last-of-type {
  	margin-right: 0;
  }

  &:hover {
    color: $bondi-blue;
  }
}

.nav__item--logo {
  margin-right: auto;
  width: 30px;
  fill: $gray;

  svg {
    display: block;
  }

  &:hover {
  	fill: url(#hover-gradient);
  }
}

@media #{$tablet-min} {
	.nav {
		flex-direction: column;
    padding: 1em 0;
	}

	.nav__item--logo {
		margin: auto;
	}

  .nav__list {
    margin-top: 15px;
  }
}
