.nav__list {
	* + * {
		padding-left: 40px;
	}

	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	&:first-child {
		margin-left: 50px;
	}

	&:last-child {
		margin-right: 50px;
	}
}

.nav__item {
	font-size: 15px;
	text-transform: uppercase;
	color: $dark-gray;
	font-family: $header-font-family;
	
	a {
		text-decoration: none;
	}
}

.nav__item--logo {
	margin-right: auto;
	width: 30px;
}