.project {
  display: flex;
  justify-content: space-around;
}

.project__image {
  position: relative;
  padding: 4% 3% 0;
  flex: 0 1 45%;

  img {
    display: block;
    width: 100%;
  }
}

.project__title {
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0.5;
}

.project__info {
  flex: 0 1 45%;
  padding-bottom: 20px;
}

.project__link {
  &:after {
    content: ">";
    margin-left: 4px;
  }

  &:hover {
    color: $dark-gray;
  }
}

@each $image, $background-color in $image-backgrounds {
  .project--#{$image} {
    background-color: $background-color;
  }
}

@media (max-width: 760px) {
  .project {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .project__image {
    margin: auto;
    width: 60%;
  }

  .project__info {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: $large;
  }
}

.case-study-types {
  color: #b5b5c0;
  font-size: $xs;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: $medium;
  text-align: center;
  text-transform: uppercase;
}

.project__summary {
  margin-bottom: 20px;
}