.section {
  padding: $large 0;
  margin-bottom: $large;
}

.section__blockquote {
  padding: $large 0;
  margin: 0;
}

.section__content {
  max-width: 700px;
  margin: auto;

  @media #{$tablet-min}, #{$mobile} {
    padding-left: 3em;
    padding-right: 3em;
  }

  display: flex;
  flex-direction: column;
}

.section--centered {
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
  margin-bottom: 0;
}

.section__heading {
  margin-bottom: 80px;
  text-align: center;

  @media #{$tablet-min} {
    margin-top: $medium;
    margin-bottom: $large;
  }
}

.section__title {
  margin-bottom: $large;
  text-align: center;
}

.section__subtitle {
  font-size: 24px;
  color: darken($light-gray, 20);
  margin-top: $medium;
}

.section__wrapper {
  margin-top: $xl;
}

.section__divider {
  text-align: center;
  padding: $large 0;
  color: $gray;

  &:before {
    content: '...';
    display: inline-block;
    margin-left: .6em;
    position: relative;
    top: -22px;
    font-size: 20px;
    letter-spacing: 6.7px;
  }
}

.section__divider--slim {
  @extend .section__divider;
  padding: $medium 0;
}